.home-container {
    width: 80%;
    padding: 25px;
    padding-bottom: 40px;
}

.home-wrapper h2 {
    color: tomato;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.charts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.home-chart {
    width: 85%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.home-chart h3 {
    color: #474747;
    margin-bottom: 20px;
}

.home-chart p {
    text-align: center;
    color: #474747;
    font-weight: bold;
}

.pie-chart {
    width: 330px;
    margin: 0 auto;
}

.doughnut-chart {
    width: 330px;
    margin: 0 auto;
}


.bar-chart {
    width: 900px;
    margin: 0 auto;
}

.chart-group {
    width: 85%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}